<html>

<head>
    <meta charset="UTF-8">
    <title>vui-icon demo</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <script src="lib/vue-feather.min.js?v=<%= Date.now() %>"></script>
    <style type="text/css">
        body {
            margin: 0;
        }


        .github {
            font-size: 20px;
            text-align: center;
            padding: 80px 0;
            background: #41B883;
            margin-bottom: 20px;
        }


        .github a {
            color: rgba(255, 255, 255, .9);
            text-decoration: none;
            border-bottom: 1px solid #fff;
        }


        .item {
            padding: 10px;
            margin: 10px;
            text-align: center;
            border: 1px solid #fff;
        }

        .item.is-selected {
            position: relative;
            background: rgba(65, 184, 131, 0.05);
            border: 1px solid #41B883;
        }

        .item.is-selected::before {
            position: absolute;
            top: 0;
            right: 0;
            height: 6px;
            width: 10px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            content: '';
            z-index: 1;
            transform: rotate(-45deg);
            transform-origin: bottom;
        }

        .item.is-selected::after {
            position: absolute;
            top: 0;
            right: 0;
            border-width: 12px;
            border-color: #41B883 #41B883 transparent transparent;
            border-style: solid;
            content: '';
        }

        .item:hover {
            border: 1px solid #41B883
        }

        .icon {
            width: 24px;
            color: #384047;
        }

        .name {
            margin-top: 10px;
            font-size: 12px;
            color: #666;
        }



        .search .icon-search {

            color: #aaa;
        }

    </style>
</head>

<body>
    <div class="github">
        <a href="https://github.com/qinshenxue/vue-icon">https://github.com/qinshenxue/vue-icon</a>
    </div>
    <div class="container">


        <div class="input-group input-group-lg mb-3 search">
            <input type="text" class="form-control" placeholder="Search <%= Object.keys(icons).length %> icons"
                aria-label="Search <%= Object.keys(icons).length %> icons" v-model="keyword">
            <div class="input-group-append">
                <span class="input-group-text">
                    <icon name="search"></icon>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-for="(icon,name) in filterIcons">
                <div class="item" @click="add(name,icon)" :class="{'is-selected':selected[name]}">
                    <icon :name="name"></icon>
                    <div class="name">{{name}}</div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                keyword: '',
                icons: <%- JSON.stringify(icons) %>,
                selected: {}
            },
            computed: {
                filterIcons: function () {
                    var me = this
                    var obj = {}
                    Object.keys(this.icons).forEach(function (name) {
                        if (name.indexOf(me.keyword) > -1) {
                            obj[name] = me.icons[name]
                        }
                    })
                    return obj
                }
            },
            methods: {
                add: function (name, icon) {
                    if (this.selected[name]) {
                        this.$delete(this.selected, name)
                    } else {
                        this.$set(this.selected, name, icon)
                    }
                }
            }
        })

    </script>


</body>

</html>
