<html>

<head>
    <meta charset="UTF-8">
    <title>vui-icon demo</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="lib/icon.min.js?v=<%=Date.now()%>"></script>
    <style type="text/css">
    body{
        margin:0;
    }
    .demo{
        width:1080px;
        margin:0 auto;
        overflow:hidden;
            font-family: arial;
    }
    .github{
        font-size:21px;
        text-align:center;
        padding:80px 0 80px;
        background:#41B883;
    }
    .icons{
        margin-top:30px;
        overflow:hidden;
    }
   .github  a{
        color:rgba(255,255,255,.9);
        text-decoration:none;
            border-bottom: 1px solid ;
    }
    .box{
        width:120px;
        height:100px;
        float:left;
        text-align:center;
    }
    
        .icon {
            width: 32px;
            fill: #666
        }
        
        .name {
            margin-top:10px;
            font-size: 12px;
            color: #666;
        }
    </style>
</head>

<body>
 <div class="github">
    <a href="https://github.com/qinshenxue/vue-icon">https://github.com/qinshenxue/vue-icon</a>
    </div>
    <div class="demo">
   

    <div class="icons">
<% icons.forEach(function(icon){%>
<div class="box">
<icon name="<%= icon %>"></icon>
<div class="name"><%= icon %></div>
</div>
<% })  %>
       </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '.demo'
        })
    </script>

</body>

</html>