<html>

<head>
    <meta charset="UTF-8">
    <title>vui-icon demo</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        <%-code %>
    </script>
    <style type="text/css">
    #demo{
        width:1080px;
        margin:0 auto;
        overflow:hidden;
    }
    .vui-icon-box{
        width:120px;
        height:100px;
        float:left;
        text-align:center;
    }
    
        .vui-icon {
            width: 32px;
            fill: #666
        }
        
        .vui-icon-name {
            margin-top:10px;
            font-size: 12px;
            font-family: arial;
            color: #666;
        }
    </style>
</head>

<body>
    <div id="demo">
<% icons.forEach(function(icon){%>
<div class="vui-icon-box">
<vui-icon name="<%= icon %>"></vui-icon>
<div class="vui-icon-name"><%= icon %></div>
</div>
<% })  %>
       
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#demo'
        })
    </script>

</body>

</html>